<h1>Detalle de Organización</h1>

<h2>Nombre: {{ngo.ngoName}}</h2>
<h3>Mision: {{ngo.description}}</h3>
<h3>Location: {{ngo.location}}</h3>
<h3>Representative: {{ngo.rep}}</h3>
<h3>Projects available: [{{ngo.project}}]</h3>